@import url(./reset.css);

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
/* font-weight 100, 300, 400, 500, 700, 900 */
.inner {
    margin: 0 auto;
    width: 100%; 
    max-width: 1300px;
    padding: 0 50px;
    box-sizing: border-box;
}

/* header */
header {
    width: 100%;
}
header .inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .inner .logo {
    
}
header .inner .logo a {
    
}
header .inner .logo a img {
    height: 45px;
}
header .inner .menu-wrap {
    display: flex;
    align-items: center;
    gap: 50px;
}
header .inner .menu-wrap .menu ul {
    display: flex;
    gap: 30px;
}
header .inner .menu-wrap .login-join {
    display: flex;
    align-items: center;
    gap: 10px;
}
header .inner .menu-wrap .login-join a {
    color: #555555;
    font-size: 14px;
}
header .inner .menu-wrap .login-join .div-line {
    width: 0.5px;
    height: 12px;
    background-color: #555555;
}

/* container */
.container {

}

/* section 공통 */
.container .section {
    width: 100%;
    height: 700px;
}
.container .section .inner {
    position: relative;
    height: 100%;
}
.container .section .inner .copy {
    position: absolute;
}
.container .section .inner .copy h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 40px;
}
.container .section .inner .copy p {
    font-size: 18px;
    line-height: 28px;
}

/* section 이미지 */
.container .section1 {
    background: url(../img/img1.png) no-repeat;
    background-size: cover;
}
.container .section3 {
    background: url(../img/img3.png) no-repeat;
    background-size: cover;
}

/* section 개별속성 */
.container .section1 .inner .copy {
    color: #ffffff;
    top: 140px;
    left: 80px;
}

.container .section2 .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .section2 .inner .img {
    height: 550px;
}
.container .section2 .inner .img img {
    height: 100%;
}
.container .section2 .inner .copy {
    color: #000000;
    top: 140px;
    right: 80px;
}


.container .section3 .inner .copy {
    color: #ffffff;
    top: 140px;
    left: 80px;
}

.container .section4 .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .section4 .inner .img {
    height: 550px;
}
.container .section4 .inner .img img {
    height: 90%;
    position: absolute;
    display: none;
}
.container .section4 .inner .img img:first-child {
    display: block;
}
.container .section4 .inner .right-wrap {

}
.container .section4 .inner .right-wrap .copy {
    color: #000000;
    position: static;
    margin-bottom: 20px;
}
.container .section4 .inner .right-wrap .unit {

}
.container .section4 .inner .right-wrap .unit .unit-icon {
    display: flex;
    margin-bottom: 50px;
}
.container .section4 .inner .right-wrap .unit .unit-icon li {
    width: 70px;
}
.container .section4 .inner .right-wrap .unit .unit-icon svg {
    cursor: pointer;
}
.container .section4 .inner .right-wrap .unit .unit-icon svg:first-child {
    display: flex;
    justify-content: right;
}
.container .section4 .inner .right-wrap .unit .unit-info {
   
}
.container .section4 .inner .right-wrap .unit .unit-info>li {
    display: none;
}
.container .section4 .inner .right-wrap .unit .unit-info>li:first-child {
    display: block;
}
.container .section4 .inner .right-wrap .unit .unit-info li h2 {
    font-size: 24px;
    margin-bottom: 15px;
}
.container .section4 .inner .right-wrap .unit .unit-info li .size {
    margin-bottom: 10px;
    display: block;
    font-weight: 300;
}
.container .section4 .inner .right-wrap .unit .unit-info li .info {
    font-weight: 300;
}

/* footer */
footer {
    margin-top: 100px;
}
footer .top {
    padding: 30px 0;
    box-sizing: border-box;
    background: #eeeeee;
}
footer .top .inner  {
    height: 150px;
    display: flex;
    justify-content: space-between;
}
footer .top .inner .footer-nav {
    display: flex;
    gap: 40px;
}
footer .top .inner .footer-nav div {
    
}
footer .top .inner .footer-nav div h2 {
    
}
footer .top .inner .footer-nav div ul li {
    margin: 10px 0;
}
footer .top .inner .footer-nav div ul li a {
    font-size: 14px;
    font-weight: 300;
}
footer .top .inner .footer-nav .qna {

}
footer .top .inner .footer-nav .qna span {
    display: block;
    font-size: 45px;
    font-weight: 700;
    margin: 10px 0;
}
footer .top .inner .footer-nav .qna dl {
    display: flex;
    margin: 5px 0;
    font-size: 14px;
}
footer .top .inner .footer-nav .qna dl dt {

}
footer .top .inner .footer-nav .qna dl dd {
    font-weight: 300;
}
footer .top .inner .footer-sns {
    display: flex;
    align-items: flex-end;
    gap: 15px;
}
footer .top .inner .footer-sns a {

}
footer .top .inner .footer-sns a img {
    width: 35px;
}

footer .bottom {
    height: 200px;
    background: #333333;
    color: #888888;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    padding-top: 20px;
}
footer .bottom .inner {
    
}
footer .bottom .inner .personal {
    display: flex;
    justify-content: space-between;
    width: 200px;
}
footer .bottom .inner .personal a {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
footer .bottom .inner .personal .div-line {
    width: 1px;
    height: 12px;
    background-color: #555555;
}
footer .bottom .inner .co-info {
    margin-top: 16px;
}
footer .bottom .inner .copyright {
    margin-top: 16px;
    font-size: 10px;
}