@import url(./reset.css);

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 500;
}
/* font-weight 100, 300, 400, 500, 700, 900 */
.inner {
    margin: 0 auto;
    width: 100%; 
    max-width: 1300px;
    padding: 0 50px;
    box-sizing: border-box;
}

/* header */
header {
    width: 100%;
}
header .inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .inner .ham,
header .inner .my {
    display: none;
}
header .inner svg {
    fill: #333333;
    width: 22px;
}
header .inner svg:hover {
    fill: #777777;
}
header .inner .logo {
    
}
header .inner .logo a {
    
}
header .inner .logo a img {
    height: 45px;
}
header .inner .menu-wrap {
    display: flex;
    align-items: center;
}
header .inner .menu-wrap .menu ul {
    display: flex;
}
header .inner .menu-wrap .menu ul li {
    margin: 0 20px;
}
header .inner .menu-wrap .menu ul li a:hover {
    color: #5688d7;
}
header .inner .menu-wrap .login-join {
    display: flex;
    align-items: center;
    margin-left: 30px;
}
header .inner .menu-wrap .login-join a {
    color: #555555;
    font-size: 14px;
}
header .inner .menu-wrap .login-join .div-line {
    width: 0.5px;
    height: 12px;
    background-color: #555555;
    margin: 0 10px;
}

/* container */
.container {

}

/* section 공통 */
.container .section {
    width: 100%;
    height: 700px;
}
.container .section .inner {
    position: relative;
    height: 100%;
}
.container .section .inner .copy {
    position: absolute;
}
.container .section .inner .copy h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 40px;
}
.container .section .inner .copy p {
    font-size: 18px;
    line-height: 28px;
}
.container .section .inner .copy .btn {
    padding: 15px 20px;
    text-align: center;
    background: #111111;
    color: #ffffff;
    position: absolute;
    top: 250px;
    font-size: 18px;
    border-radius: 100px;
    transition: 0.5s;
}
.container .section .inner .copy .btn:hover {
    opacity: 0.7;
}

/* section 이미지 */
.container .section1 {
    background: url(../img/img1.png) center no-repeat;
    background-size: cover;
}
.container .section3 {
    background: url(../img/img3.png) center no-repeat;
    background-size: cover;
}

/* section 개별속성 */
/* container section1 */
.container .section1 .inner .copy {
    color: #ffffff;
    top: 140px;
    left: 80px;
}
/* container section2 */
.container .section2 .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .section2 .inner .img {
    height: 550px;
}
.container .section2 .inner .img img {
    height: 100%;
    margin: 0 auto;
}
.container .section2 .inner .copy {
    color: #000000;
    top: 140px;
    right: 80px;
}

/* container section3 */
.container .section3 .inner .copy {
    color: #ffffff;
    top: 80px;
    left: 80px;
}
.container .section3 .inner .copy .general-info {
    width: 410px;
    margin-top: 50px;
    position: absolute;
}
.container .section3 .inner .copy .general-info .card {
    position: absolute;
}
.container .section3 .inner .copy .general-info .card img {
    width: 100%;
}
.container .section3 .inner .copy .general-info .card p {
    position: absolute;
    top: 185px;
    left: 50%;
    width: 85%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}
.container .section3 .inner .copy .general-info .card:nth-child(2) {
    display: none;
}
.container .section3 .inner .copy .general-info .card:nth-child(3) {
    display: none;
}

/* container section4 */
.container .section4 .inner {
    width: 1100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container .section4 .inner .unit-img {
    height: 600px;
    display: flex;
    align-items: center;
}
.container .section4 .inner .unit-img img {
    width: 90%;
    display: none;
}
.container .section4 .inner .unit-img img:first-child {
    display: block;
}
.container .section4 .inner .right-wrap {
    width: 400px;
}
.container .section4 .inner .right-wrap .copy {
    color: #000000;
    position: static;
    margin-bottom: 20px;
}
.container .section4 .inner .right-wrap .tabmenu {
    display: flex;
    position: relative;
}
.container .section4 .inner .right-wrap .tabmenu>li {
    margin: 0 5px;
}
.container .section4 .inner .right-wrap .tabmenu>li:nth-child(1) {
    margin-left: 0;
    margin-right: 0;
}
.container .section4 .inner .right-wrap .tabmenu>li:nth-child(4) {
    margin-left: 10px;
}
.container .section4 .inner .right-wrap .tabmenu>li:nth-child(5) {
    margin-left: 15px;
}
.container .section4 .inner .right-wrap .tabmenu>li:target {
    background: #fff;
}
.container .section4 .inner .right-wrap .tabmenu>li:target .unit-info {
    display: block;
}
.container .section4 .inner .right-wrap .tabmenu>li a {
    display: block;
    margin-bottom: 30px;
    width: 55px;
}
.container .section4 .inner .right-wrap .tabmenu>li a svg {
    cursor: pointer;
    fill: #555555;
}
.container .section4 .inner .right-wrap .tabmenu>li .unit-info {
    position: absolute;
    left: 0;
    display: none;
    width: 400px;
}
.container .section4 .inner .right-wrap .tabmenu .unit-info h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
.container .section4 .inner .right-wrap .tabmenu .unit-info .size {
    margin-bottom: 15px;
    display: block;
    font-weight: 400;
}
.container .section4 .inner .right-wrap .tabmenu .unit-info .info {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    list-style: disc inside;
}
.container .section4 .inner .right-wrap .tabmenu .unit-info .info li {
    width: 100%;
}


.fill-blue {
    fill: #5688d7 !important;
}

/* footer */
footer {
    margin-top: 50px;
}
footer .top {
    padding: 30px 0;
    box-sizing: border-box;
    background: #f4f4f4;
}
footer .top .inner  {
    height: 140px;
    display: flex;
    justify-content: space-between;
}
footer .top .inner .footer-nav {
    display: flex;
    color: #333333;
}
footer .top .inner .footer-nav div {
    margin: 0 30px;
}
footer .top .inner .footer-nav div h2 {
    font-size: 14px;
}
footer .top .inner .footer-nav div ul li {
    margin: 10px 0;
}
footer .top .inner .footer-nav div ul li a {
    font-size: 12px;
    font-weight: 400;
    color: #333333;
}
footer .top .inner .footer-nav div ul li a:hover {
    color: #555555;
}
footer .top .inner .footer-nav .qna {
    color: #333333;
}
footer .top .inner .footer-nav .qna span {
    display: block;
    font-size: 43px;
    font-weight: 700;
    margin: 10px 0;
}
footer .top .inner .footer-nav .qna dl {
    display: flex;
    margin: 5px 0;
    font-size: 11px;
}
footer .top .inner .footer-nav .qna dl dt {
    margin-right: 6px;
}
footer .top .inner .footer-nav .qna dl dt:nth-child(3) {
    margin-left: 10px;
}
footer .top .inner .footer-nav .qna dl dd {
    font-weight: 300;
}
footer .top .inner .footer-sns {
    display: flex;
    align-items: flex-end;
}
footer .top .inner .footer-sns a {

}
footer .top .inner .footer-sns a:nth-child(2) {
    margin: 0 12px;
}
footer .top .inner .footer-sns a img {
    width: 30px;
}

footer .bottom {
    height: 170px;
    background: #333333;
    color: #888888;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    padding-top: 20px;
}
footer .bottom .inner {
    
}
footer .bottom .inner .personal {
    display: flex;
    align-items: center;
}
footer .bottom .inner .personal a {
    color: #fff;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
}
footer .bottom .inner .personal .div-line {
    width: 1px;
    height: 8px;
    background-color: #555555;
    margin: 0 8px;
}
footer .bottom .inner .co-info {
    margin-top: 16px;
    font-size: 8px;
}
footer .bottom .inner .copyright {
    margin-top: 16px;
    font-size: 8px;
}