@media(max-width: 1100px) {

    .inner {
        max-width: 1100px;
    }
    
    /* header */
    .navbar {
        flex-direction: column;
        padding: 0;
    }
    .navbar .ham,
    .navbar .my {
        display: block;
        position: absolute;
        top: 28px;
    }
    .navbar .ham {
        left: 60px;
    }
    .navbar .my {
        right: 60px;
    }
    .navbar .logo {
        box-sizing: border-box;
        height: 80px;
        padding: 16px 0;
    }
    .navbar .menu {
        display: none;
        flex-direction: column;
        background: var(--white);
        width: 100%;
        z-index: 500;
    }
    .navbar .menu li {
        width: 100%;
        text-align: center;
        border-bottom: 0.5px solid var(--very-light-grey);
        box-sizing: border-box;
        margin: 0;
        line-height: 80px;
    }
    .navbar .menu li:first-child {
        border-top: 0.5px solid var(--very-light-grey);
        box-sizing: border-box;
    }
    .navbar .menu li:nth-child(2n+1) {
        background: #eeeeee;
    }
    .navbar .login-join {
        display: none;
    }

    .menu.active {
        display: flex;
    }

    /* container */
    

    
}