@import url(./reset.css);

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--white);
}
:root {
    --main-color:#5688d7;
    --main-btn-color: #1c1c1c;
    --white: #f6f3f3;
    --black: #0d0d0d;
    --dark-grey: #333333;
    --grey: #555555;
    --light-grey: #777777;
    --very-light-grey: #cccccc;
}

/* 토글 클래스 */
.block {
    display: block !important;
}

.flex {
    display: flex !important;
}

.none {
    display: none !important;
}
.fill-blue {
    fill: var(--main-color) !important;
}

/* font-weight 100, 300, 400, 500, 700, 900 */
.inner {
    margin: 0 auto;
    width: 100%; 
    max-width: 1300px;
    padding: 0 50px;
    box-sizing: border-box;
}

/* header */
header .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
    padding: 16px 100px;
    height: 80px;
    box-sizing: border-box;
}
header .inner .ham,
header .inner .my {
    display: none;
}
header .inner svg {
    fill: var(--dark-grey);
    width: 22px;
}
header .inner svg:hover {
    fill: var(--light-grey);
}
header .inner .logo {
    
}
header .inner .logo img {
    height: 45px;
}
header .inner nav {
    z-index: 100;
}
header .inner nav .menu {
    display: flex;
}
header .inner nav .menu li {
    margin: 0 10px;
}
header .inner nav .menu li a {
    padding: 5px 10px;
}
header .inner nav .menu li a:hover {
    color: var(--main-color)
}
header .inner .login-join {
    display: flex;
    align-items: center;
}
header .inner .login-join a {
    color: var(--grey);
    font-size: 14px;
}
header .inner .login-join .div-line {
    width: 0.5px;
    height: 12px;
    background-color: var(--grey);
    margin: 0 10px;
}

/* main */
main {

}

/* section 공통 */
main section {
    width: 100%;
    height: 700px;
}
main section .inner {
    position: relative;
    height: 100%;
}
main section .inner .copy {
    position: absolute;
}
main section .inner .copy h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 40px;
}
main section .inner .copy p {
    font-size: 18px;
    line-height: 28px;
}
main section .inner .copy .btn {
    padding: 15px 20px;
    text-align: center;
    background: var(--main-btn-color);
    color: var(--white);
    position: absolute;
    top: 250px;
    font-size: 18px;
    border-radius: 100px;
    transition: 0.5s;
}
main section .inner .copy .btn:hover {
    opacity: 0.7;
}

/* section 이미지 */
main .section1 {
    background: url(../img/img1.png) center no-repeat;
    background-size: cover;
}
main .section3 {
    background: url(../img/img3.png) center no-repeat;
    background-size: cover;
}

/* section 개별속성 */
/* container section1 */
main .section1 .inner .copy {
    color: var(--white);;
    top: 140px;
    left: 80px;
}
/* container section2 */
main .section2 .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .section2 .inner .img {
    height: 550px;
}
main .section2 .inner .img img {
    height: 100%;
    margin: 0 auto;
}
main .section2 .inner .copy {
    color: var(--black);
    top: 140px;
    right: 80px;
}

/* container section3 */
main .section3 .inner .copy {
    color: var(--white);;
    top: 80px;
    left: 80px;
}
main .section3 .inner .copy .general-info {
    width: 410px;
    margin-top: 50px;
    position: absolute;
}
main .section3 .inner .copy .general-info .card {
    position: absolute;
}
main .section3 .inner .copy .general-info .card img {
    width: 100%;
}
main .section3 .inner .copy .general-info .card p {
    position: absolute;
    top: 185px;
    left: 50%;
    width: 85%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}
main .section3 .inner .copy .general-info .card:nth-child(2) {
    display: none;
}
main .section3 .inner .copy .general-info .card:nth-child(3) {
    display: none;
}

/* container section4 */
main .section4 .inner {
    width: 1100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
main .section4 .inner .unit-img {
    height: 600px;
    display: flex;
    align-items: center;
}
main .section4 .inner .unit-img img {
    width: 90%;
    display: none;
}
main .section4 .inner .right-wrap {
    width: 400px;
}
main .section4 .inner .right-wrap .copy {
    color: var(--black);
    position: static;
    margin-bottom: 20px;
}
main .section4 .inner .right-wrap .tabmenu {
    display: flex;
    position: relative;
}
main .section4 .inner .right-wrap .tabmenu>li {
    margin: 0 5px;
}
main .section4 .inner .right-wrap .tabmenu>li:nth-child(1) {
    margin-left: 0;
    margin-right: 0;
}
main .section4 .inner .right-wrap .tabmenu>li:nth-child(4) {
    margin-left: 10px;
}
main .section4 .inner .right-wrap .tabmenu>li:nth-child(5) {
    margin-left: 15px;
}
main .section4 .inner .right-wrap .tabmenu>li .tab-icon {
    display: block;
    margin-bottom: 30px;
    width: 55px;
}
main .section4 .inner .right-wrap .tabmenu>li .tab-icon svg {
    cursor: pointer;
    fill: var(--grey);
}
main .section4 .inner .right-wrap .tabmenu>li .unit-info {
    position: absolute;
    left: 0;
    display: none;
    width: 400px;
}
main .section4 .inner .right-wrap .tabmenu .unit-info h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
main .section4 .inner .right-wrap .tabmenu .unit-info .size {
    margin-bottom: 15px;
    display: block;
    font-weight: 400;
}
main .section4 .inner .right-wrap .tabmenu .unit-info .info {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    list-style: disc inside;
}
main .section4 .inner .right-wrap .tabmenu .unit-info .info li {
    width: 100%;
}

/* footer */
footer {
    margin-top: 50px;
}
footer .top {
    padding: 30px 0;
    box-sizing: border-box;
    background: #f4f4f4;
}
footer .top .inner  {
    height: 140px;
    display: flex;
    justify-content: space-between;
}
footer .top .inner .footer-nav {
    display: flex;
    color: var(--dark-grey);;
}
footer .top .inner .footer-nav div {
    margin: 0 30px;
}
footer .top .inner .footer-nav div h2 {
    font-size: 14px;
}
footer .top .inner .footer-nav div ul li {
    margin: 10px 0;
}
footer .top .inner .footer-nav div ul li a {
    font-size: 12px;
    font-weight: 400;
    color: var(--dark-grey);;
}
footer .top .inner .footer-nav div ul li a:hover {
    color: var(--grey);
}
footer .top .inner .footer-nav .qna {
    color: var(--dark-grey);;
}
footer .top .inner .footer-nav .qna span {
    display: block;
    font-size: 43px;
    font-weight: 700;
    margin: 10px 0;
}
footer .top .inner .footer-nav .qna dl {
    display: flex;
    margin: 5px 0;
    font-size: 11px;
}
footer .top .inner .footer-nav .qna dl dt {
    margin-right: 6px;
}
footer .top .inner .footer-nav .qna dl dt:nth-child(3) {
    margin-left: 10px;
}
footer .top .inner .footer-nav .qna dl dd {
    font-weight: 300;
}
footer .top .inner .footer-sns {
    display: flex;
    align-items: flex-end;
}
footer .top .inner .footer-sns a {

}
footer .top .inner .footer-sns a:nth-child(2) {
    margin: 0 12px;
}
footer .top .inner .footer-sns a img {
    width: 30px;
}

footer .bottom {
    height: 170px;
    background: var(--dark-grey);;
    color: #888888;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    padding-top: 20px;
}
footer .bottom .inner {
    
}
footer .bottom .inner .personal {
    display: flex;
    align-items: center;
}
footer .bottom .inner .personal a {
    color: var(--white);
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
}
footer .bottom .inner .personal .div-line {
    width: 1px;
    height: 8px;
    background-color: var(--grey);
    margin: 0 8px;
}
footer .bottom .inner .co-info {
    margin-top: 16px;
    font-size: 8px;
}
footer .bottom .inner .copyright {
    margin-top: 16px;
    font-size: 8px;
}